body {
    margin:0;
    padding:0;
}

.cover {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablebtn {
    text-align:center;
}

.elements {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt1 {
    margin-top: 4vh;
    margin-left: 2vw;
}

.txt2 {
    margin-top: 7.4vh;
    margin-left: 2vw;
}

    .txt1[placeholder], .txt2[placeholder] {
        font-family: 'Oleo Script Swash Caps';
        font-size: 1.5vw;
        padding-left: 0.5vw;
    }

.txtstyle {
    width: 20vw;
    height: 6vh;
    border: 0;
    border-radius: 4%;
    background-color: rgba(252,251,251,0.80);
    box-shadow: black 0px 30px 50px;
}

.btnstyle {
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    margin-top: 10vh;
    width: 11vw;
    margin-left: 0.6vw;
    font-family: 'Oleo Script Swash Caps';
    font-size: 2vw;
    color: black;
    text-shadow: black 0px 10px 10px;
    background-color: rgba(255,255,255,0.57);
}

    .btnstyle:hover {
        background-color: transparent;
        box-shadow: black 0px 90px 80px;
    }
