body {
    margin:0;
    padding:0;
}

.cover {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    text-align:center;
}

.elements {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt1 {
    margin-top: 2vh;
    margin-left: 1vw;
}

.txt2 {
    margin-top: 7.4vh;
    margin-left: 2vw;
}

    .txt1[placeholder], .txt2[placeholder] {
        font-family: 'Oleo Script Swash Caps';
        font-size: 1.2vw;
        padding-left: 0.5vw;
    }

.txtstyle {
    width: 20vw;
    height: 4vh;
    border: 0;
    border-radius: 4%;
    background-color: rgba(252,251,251,0.80);
    box-shadow: black 0px 30px 50px;
}

.btnstyle {
    width: 40%;
    height: 10%;
    margin-top: 50px;
    margin-bottom: 10vh;
    font-family: 'Crete Round';
    font-size: 1.3vw;
    background-color: #12a312;
    color: white;
    border: 1px solid;
}

    .btnstyle:hover {
        background-color: #3e8e41;
    }

/*input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
}*/

.chklabel {
    display: block;
    position: relative;
    padding-left: 135px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .chklabel input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.chklabel:hover input ~ .checkmark {
    background-color: #ccc;
}

.chklabel input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.chklabel input:checked ~ .checkmark:after {
    display: block;
}

.chklabel .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}