body {
    margin: 0;
    padding: 0;
}

section {
    width: 100vw;
    height: 100vh;
    background-image: url('../Image/background-dog2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 30vw;
    height: 30vh;
    background-size: cover;
    background: rgba(255, 255, 255, 0.3);
    align-items:center;
    position: relative;
}

.container .upper1{
    width:100%;
    height:100%;
    position:absolute;
    align-items:center;
    text-align:center;
}

h3 {
    font-size: 2vw;
    font-family: 'Pacifico';
    margin-bottom: 3%;
    margin-top: 3%;
    text-align:center;
}

input[type=text], input[type=password] {
    width: 50%;
    height: 10%;
    margin-bottom: 4%;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #4b4040;
    text-align:center;
    align-self:center;
}

input[placeholder] {
    font-size: 1.4vw;
    padding-left: 3%;
    font-family: 'Crete Round';
}

.btn {
    margin-top:1%;
    width: 30%;
    height: 13%;
    margin-bottom: 9.5vh;
    font-family: 'Crete Round';
    font-size: 1.3vw;
    background-color: #12a312;
    color: white;
    border: 1px solid;
}